<!DOCTYPE html>
<html lang="pt-br" ng-app='app'>
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>CONTROLE URBANO</title>
	<script src='components/jquery/dist/jquery.min.js'></script>
	<script src='components/jquery-ui/jquery-ui.min.js'></script>

	<link  href='/css/style.css' rel='stylesheet'/>
	<link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet">

	<script src='components/angular/angular.min.js'></script>
	<script src='components/angular-modal/ui-bootstrap-custom-tpls-1.3.3.min.js'></script>
	<script src='components/angular-route/angular-route.min.js'></script>
	<script src='components/bootstrap/dist/js/bootstrap.min.js'></script>
	<script src='/js/app.js'></script>
	<script src='/template_register/registerController.js'></script>
	<script src='/template_update/updateController.js'></script>
	<script src='/template_sucesso/sucessoController.js'></script>
	<script src='/directives/headerDirective.js'></script>
	<script src='/services/registerService.js'></script>
	<script src='/services/authService.js'></script>






</head>
<body id="body-m">
<div ng-view></div>
</body>
</html>